*{ box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: 'Sugo-Pro';
  src: url('fonts/Sugo-Pro-Classic-Regular-trial.ttf') format('truetype');
}
body {
 font-family: "Sugo-Pro", sans-serif;
      background: #ced9ff;
  color: #333;
  line-height: 1.6;
}
.container {
  max-width: 800px;
  background: #fff;
  padding: 20px 40px;
  margin: 40px auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.header {
  text-align: center;
  margin-bottom: 30px;
}
.header h1 {
  font-size: 2.8em;
  margin-bottom: 10px;
}
.header h2 {
  font-size: 1.5em;
  color: #666;
  font-weight: normal;
}
section {
  margin-bottom: 30px;

}
section h3 {
  padding-bottom: 2x;
  margin-bottom: 5px;
  color: #444;
  font-size: 1.5em;
}
.profile p,
.experience li,
.education li,
.skills li,
.contact li {
  margin-bottom: 13px;
}
.experience ul,
.education ul,
.skills ul,
.contact ul {
  list-style: none;
  padding-left: 20px;
}
a {
  color: #0027af94;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.imgg{
  width:215px;
  height: 215px;
  border-radius: 25px;
}
.prof{
  text-align: center;
}
.photo{
  width: 340px;
  height: 250px;
   border-radius: 25px;
border: 1px solid #cdcdcd;
 box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
 transition: box-shadow 0.5s ease, transform 0.5s ease;
      cursor: pointer;
}
.photo:hover{
 box-shadow: 0 12px 24px rgba(0, 0, 0, 0.35);
      transform: scale(1.03);
}

.pirsz{
  display: flex;
      justify-content: space-between;
    align-items: center;
}
.persz{
  display: flex;
      justify-content: space-between;
    align-items: center;
}
.zdie{
  margin-top: 30px;
}
.underline {
  width: 60px;
  height: 2px;
  background-color: #a6adb1;
  margin: 0 auto;
  transition: width 1s ease;
  margin-bottom: 10px;
}